#$version is autofilled from the VERSION file
# The unique bundle identifier of this package, this is how Installer knows what you are talking about. Do not ever change this value ones a package goes live, unless you want to fork your package.
$bundleIdentifier="com.googlecode.iphone-wireless.applications.Stumbler";
# The name of the package as it will appear in the Installer package listings.
$name='Stumbler';
# The location for the associated package zip file. This zip file MUST retain executable permissions if you are going to be installing any executables.
$installer_location='http://iphonelets.com/repository/zips/'.$name.'-'.$version.'.zip';
# A url to link the "More info..." button to.
$url='http://iphone-wireless.googlecode.com';
# A package description or README. At this time Installer can only view a small portion of this text, but this will be addressed soon.
$description='A wireless network monitoring tool for 802.11, Bluetooth, and GSM';
# The third party maintainer name for this package. You do not need to set this if it is the same as the repository maintainer.
#$maintainer='';
# The third party maintainer contact (e-mail) for this package. You do not need to set this if it is the same as the repository maintainer's contact.
#$contact='';
# set to true if you want installer to prompt the user to restart Installer itself after installing or updating this package.
#$restartInstaller=true;
$installer_installscript='<array><array><string>CopyPath</string><string>'.$name.'.app</string><string>/Applications/'.$name.'.app</string></array></array>';
$installer_uninstallscript='<array><array><string>RemovePath</string><string>/Applications/'.$name.'.app</string></array></array>';

