<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleIdentifier</key>
	<string>com.googlecode.iphone-wireless.applications.Stumbler</string>
	<key>name</key>
	<string>Stumbler</string>
	<key>version</key>
	<string>#VERSION#</string>
	<key>location</key>
	<string>http://iphonelets.com/repository/zips/Stumbler-#VERSION#.zip</string>
	<key>size</key>
	<string>#SIZE#</string>
	<key>url</key>
	<string>http://iphone-wireless.googlecode.com</string>
	<key>description</key>
	<string>A wireless network discovery and monitoring application, with support for 802.11 and eventually bluetooth and GSM protocols.</string>
	<key>scripts</key>
	<dict>
		<key>install</key>
		<array>
			<array>
				<string>CopyPath</string>
				<string>Stumbler.app</string>
				<string>/Applications/Stumbler.app</string>
			</array>
		</array>
		<key>uninstall</key>
		<array>
			<array>
				<string>RemovePath</string>
				<string>/Applications/Stumbler.app</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
